build/.
Build/*
*build/*
*debug/*
bin/*
.cproject
.project
*.user.*
*.user
*.dll
*.so
moc_*
*.stash
*.o
Makefile
*.backup
*.pdf
*.html
*.orig
*.xml
*.yml
!.gitlab-ci.yml
*.que
*.sch
*.png
*.zip
*.xsd
*.lot
*.gad
*-Debug
build-*/
/subprojects/*
!subprojects/*.wrap
error_log.txt
Makefile.Debug
Makefile.Release
object_script.houston_app.Debug
object_script.houston_app.Release
resources/layouts/*
logs/*
export/*
.qtc_clangd/*
SX-Houston-planner
qrc_SX-Houston-planner.cpp
*_LOCAL_*
*_BASE_*
*_REMOTE_*
*_BACKUP_*


users*
TransportCatalogue

 
